$headings-color: #4f7b94;
$body-background: #333;
$body-background-bottom: #73939B;
$candy-stripe1: #fff;
$candy-stripe2: #e5e5e5;
$candy-stripe-hover: #f0f0f0;
$logo: "http://xrono.isotope11.com/system/site_logos/1/original/isotope_logo.png?1330143115";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro&subset=latin,latin-ext);
#jenkins-head-icon {
  position: absolute;
  bottom: 5px;
  height: 30px;
}

pre {
	font-family: 'Source Code Pro', ;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  margin: 0;
	font-size:10px;
}

body {
	background: $body-background;
	background: -moz-linear-gradient(top, $body-background 0%, $body-background-bottom 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$body-background), color-stop(100%,$body-background-bottom));
	background: -webkit-linear-gradient(top, $body-background 0%,$body-background-bottom 100%);
	background: -o-linear-gradient(top, $body-background 0%,$body-background-bottom 100%);
	background: -ms-linear-gradient(top, $body-background 0%,$body-background-bottom 100%);
	background: linear-gradient(top, $body-background 0%,$body-background-bottom 100%);
}

h1, h2, h3, h4, h5, h6, body, table, form, input, td, th, p, textarea, select {

	font-family: 'Source Sans Pro', sans-serif;
	font-size:12px;
}

h1, h2, h3, h4, h5, h6{
  color: $headings-color;
}

#header{
	background: none;
	td#login-field {
		span {
			a {
				background:none;
			}
		}
	}
  	.logo{
		#jenkins-head-icon {
		  position: absolute;
		  bottom: 5px;
		  height: 30px;
		}
		img#jenkins-name-icon{
			visibility:hidden;
		}
	}
}
.row {
  margin-right: 0;
  margin-left: 0;
}
#projectstatus {
	background: #fff;
  tr{
    &:nth-of-type(odd) {
      background-color:$candy-stripe2;
      &:hover{
        background-color: $candy-stripe-hover;
      }
    }
    &:nth-of-type(even) {
      background-color:$candy-stripe1;
      &:hover{
        background-color: $candy-stripe-hover;
      }
    }
  }
}
#left-top-nav {
	border-left: none;
}

#side-panel{
  background-color: #fff;
  .task{
    a{
      display: inline-block;
      text-decoration: none;
      width: 10%;
      &+a{
        width: 83%;
        padding: 4px;
        &:hover{
          background-color: $candy-stripe2;
        }
      }
      &:hover{
        text-decoration: underline
      }
    }
  }
}

#jenkins .yui-button button, #jenkins .yui-button button:hover,#jenkins .yui-button.primary button:hover, #jenkins .yui-button.primary .hover {
  font-size: 10px;
  padding: 3px 3px;
  border-radius: 3px;
  border: 1px solid #DDB643;
  background-color: #DDB643;
  color: #505050;
}
#jenkins .yui-button .hetero-list-add, #jenkins .yui-button .hetero-list-add:hover {
  padding-right: 35px;
}
#description div {
  font-size:1em;
}

#jenkins .yui-button.primary button {
  border: 1px solid #DDB643;
  background-color: #DDB643;
  color: #505050;
}
.pane-frame {
  border: none;
}
#side-panel .pane-frame:hover, #side-panel .pane-frame.mouseover {
  border: none;
}
table.pane {
  border-collapse: collapse;
  border: 1px #bbb solid;
  width:100%;
}
.pane td {
	font-size:9px;
  word-break: break-all;
}

#main-panel {
	background:#fff;
  &>h1{
    margin-top: 0;
  }
}
#main-table {
	border-top:0;
	border-bottom:0;
}
#footer-container {
  padding: 15px 15px;
  border-top: 1px solid #d3d7cf;
}
#breadcrumbBar, #footer-container, .top-sticker-inner {
  background-color: #fffbcf;
}
#view-message{
  #description{
    a{
      img{
        padding-right: 4px;
      }
    }
  }
}
