@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro&subset=latin,latin-ext);
#jenkins-head-icon {
  position: absolute;
  bottom: 5px;
  height: 30px; }

pre {
  font-family: "Source Code Pro";
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  margin: 0;
  font-size: 10px; }

body {
  background: #333;
  background: -moz-linear-gradient(top, #333 0%, #73939B 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333), color-stop(100%, #73939B));
  background: -webkit-linear-gradient(top, #333 0%, #73939B 100%);
  background: -o-linear-gradient(top, #333 0%, #73939B 100%);
  background: -ms-linear-gradient(top, #333 0%, #73939B 100%);
  background: linear-gradient(top, #333 0%, #73939B 100%); }

h1, h2, h3, h4, h5, h6, body, table, form, input, td, th, p, textarea, select {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px; }

h1, h2, h3, h4, h5, h6 {
  color: #4f7b94; }

#header {
  background: none; }
  #header td#login-field span a {
    background: none; }
  #header .logo #jenkins-head-icon {
    position: absolute;
    bottom: 5px;
    height: 30px; }
  #header .logo img#jenkins-name-icon {
    visibility: hidden; }

.row {
  margin-right: 0;
  margin-left: 0; }

#projectstatus {
  background: #fff; }
  #projectstatus tr:nth-of-type(odd) {
    background-color: #e5e5e5; }
    #projectstatus tr:nth-of-type(odd):hover {
      background-color: #f0f0f0; }
  #projectstatus tr:nth-of-type(even) {
    background-color: #fff; }
    #projectstatus tr:nth-of-type(even):hover {
      background-color: #f0f0f0; }

#left-top-nav {
  border-left: none; }

#side-panel {
  background-color: #fff; }
  #side-panel .task a {
    display: inline-block;
    text-decoration: none;
    width: 10%; }
    #side-panel .task a + a {
      width: 83%;
      padding: 4px; }
      #side-panel .task a + a:hover {
        background-color: #e5e5e5; }
    #side-panel .task a:hover {
      text-decoration: underline; }

#jenkins .yui-button button, #jenkins .yui-button button:hover {
  font-size: 10px;
  padding: 3px 3px;
  border-radius: 3px;
  border: 1px solid #DDB643;
  background-color: #DDB643;
  color: #505050; }

#description div {
  font-size: 1em; }

#jenkins .yui-button.primary button {
  border: 1px solid #DDB643;
  background-color: #DDB643;
  color: #505050; }

.pane-frame {
  border: none; }

#side-panel .pane-frame:hover, #side-panel .pane-frame.mouseover {
  border: none; }

table.pane {
  border-collapse: collapse;
  border: 1px #bbb solid;
  width: 100%; }

.pane td {
  font-size: 9px;
  word-break: break-all; }

#main-panel {
  background: #fff; }
  #main-panel > h1 {
    margin-top: 0; }

#main-table {
  border-top: 0;
  border-bottom: 0; }

#footer-container {
  padding: 15px 15px;
  border-top: 1px solid #d3d7cf; }

#breadcrumbBar, #footer-container, .top-sticker-inner {
  background-color: #fffbcf; }

#view-message #description a img {
  padding-right: 4px; }

/*# sourceMappingURL=jenkins-bliss-style.css.map */
